/* Background */
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #0f172a, #020617);
    color: white;
}

/* Navbar */
.navbar {
    background: linear-gradient(90deg, #ff4d4d, #ff9900);
    padding: 25px;
    text-align: center;
    font-size: 22px;
    letter-spacing: 1px;
    box-shadow: 0 5px 25px rgba(255, 77, 77, 0.4);
}

/* Layout */
.dashboard {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
    padding: 40px;
}

/* Glass Cards */
.camera-section,
.status-section,
.info-section {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(15px);
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 0 25px rgba(0,0,0,0.6);
    transition: 0.3s ease;
}

.camera-section:hover,
.status-section:hover,
.info-section:hover {
    transform: translateY(-5px);
}

/* Video Box */
.video-box {
    height: 280px;
    background: #0b1220;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed rgba(255,255,255,0.3);
    color: #94a3b8;
}

/* Status Cards */
.status-card {
    padding: 18px;
    margin-top: 15px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s ease;
}

/* Safe */
.safe {
    background: linear-gradient(90deg, #16a34a, #22c55e);
    box-shadow: 0 0 20px rgba(34,197,94,0.6);
}

/* Alert */
.alert {
    background: linear-gradient(90deg, #dc2626, #ef4444);
    box-shadow: 0 0 25px rgba(239,68,68,0.8);
    animation: pulse 1s infinite;
}

/* Fire Pulse Animation */
@keyframes pulse {
    0% { box-shadow: 0 0 15px rgba(239,68,68,0.6); }
    50% { box-shadow: 0 0 35px rgba(239,68,68,1); }
    100% { box-shadow: 0 0 15px rgba(239,68,68,0.6); }
}

/* Info Section */
.info-section ul {
    list-style: none;
    padding: 0;
}

.info-section li {
    margin-bottom: 10px;
    color: #cbd5e1;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    background: #0b1220;
    font-size: 14px;
    color: #94a3b8;
}
/* Risk Meter */
.risk-meter {
    margin-top: 25px;
    text-align: center;
}

.circle {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: conic-gradient(#22c55e 0% 45%, #1e293b 45% 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 22px;
    font-weight: bold;
    box-shadow: 0 0 20px rgba(34,197,94,0.6);
    transition: 0.5s ease;
}
/* Emergency Mode */
body.emergency {
    animation: flash 0.5s infinite alternate;
}

@keyframes flash {
    from { background-color: #0f172a; }
    to { background-color: #3f0000; }
}

.alert.shake {
    animation: shake 0.4s infinite;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

